@import "../layout/header";
@import "../layout/footer";




#nav{
    border-bottom: 1px solid hsla(0,0%,92.2%,.55);;
    ul{
        display: flex;
       padding-top: 10px;
       padding-left: 0;
        gap: 20px;
        li{
            list-style-type: none;
            color: #999490;
            a{
                text-decoration: none;
                color: #999490;
                &:hover{
                    color: #fcb941;
                }
            }
            i{
                padding-right: 10px;
                font-size: 12px;
              
            }
        }
    }
}

#page-header{
    padding: 60px;
    background-image: url("../../../img/page-header-bg.jpg");
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat;
    
    .title{
        text-align: center;
        font: normal;
        font-weight: 400;
        color: #333;
         margin-bottom: 0;
    }
    p{
        text-align: center;
        color: #fcb941;
        margin-top: 10px;
        font-size: 20px;
    }
}