@import "../layout/header";
@import "../../../scss/partials/variables";


#slide-banner{
    margin-top: 20px;
    // .slider{
    //     width: 780px;
    //     height: 400px;
    //     position: relative;
        
    //     .slide-img{
    //         position: absolute;
    //         opacity: 0;
    //         .active-img{
    //             opacity: 1 !important;
    //         }
    //         .intro{
    //             position: absolute;
    //             top: 20%;
    //             left: 15%;

    //             .content{
    //                 h3{
    //                     font-weight: 300;
    //                     font-size: 20px;
    //                     color:#fcba42!important ;
    //                 }
    //                 h1{
    //                     color: #333;
    //                      font-weight: 700;
    //                      font-size: 48px;
                        
                        
    //                 }
    //                 .price{
    //                     margin-top: 30px;
    //                     margin-bottom: 20px;
    //                     .today{
    //                         font-weight: 400;
    //                         font-size: 25px;
                           
    //                     }
    //                     .text{
    //                         color: #fcb941!important;
    //                         font-weight: 700;
    //                         font-size: 45px;
    //                     }

    //                 }
    //                a{
                    
    //                 padding: 10px 30px;
    //                 color: white;
    //                 background-color: #fcba42;
    //                 text-decoration: none;
    //                 border-radius: 20px;
    //                 i{
    //                     padding-left: 10px;
    //                 }
    //                }
                  
    //             }
    //         }
    //     }
        
        
    //     .left{
    //         position: absolute;
    //         z-index: 1;
    //         top: 45%;
    //         left: 2%;
    //         font-size: 20px;
    //         color: #707070;
    //         cursor: pointer;
    //     }
    //     .right{
    //        position: absolute;
    //         z-index: 1;
    //         top: 45%;
    //         right: 2%;
    //         font-size: 20px;
    //         color: #707070;
    //         cursor: pointer;
    //     }
    // }
    .slider{
        width: 780px;
        height: 400px;
        position: relative;
        img{
            width: 100%;
            height: 100%;
            position: absolute;
            opacity: 0;
           
        }
        i{
            position: absolute;
            color: #7c7c7e;
            font-size: 20px;
            z-index: 1;
            cursor: pointer;
            top: 190px;
            
        }
        .left{
            left: 25px;
        }
        .right{
            right: 20px;
        }
        .active-img{
            opacity: 1!important;
        }
    }
}
    
  
    
    
    
    
    
    
    
    