@import "../layout/header";
@import "../layout/footer";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#nav{
    border-bottom: 1px solid hsla(0,0%,92.2%,.55);;
    ul{
        display: flex;
       padding-top: 10px;
       padding-left: 0;
        gap: 20px;
        li{
            list-style-type: none;
            color: #999490;
            a{
                text-decoration: none;
                color: #999490;
                &:hover{
                    color: #fcb941;
                }
            }
            i{
                padding-right: 10px;
                font-size: 12px;
              
            }
        }
    }
}

#page-header{
    padding: 60px;
    background-image: url("../../../img/page-header-bg.jpg");
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat;
    
    .title{
        text-align: center;
        font: normal;
        font-weight: 400;
        color: #333;
         margin-bottom: 0;
    }
    p{
        text-align: center;
        color: #fcb941;
        margin-top: 10px;
        font-size: 20px;
    }
}


.blog-entry{


   
    .body{

        margin: 20px 0;
        .author{

            span{
                color: #777;
                
            }
            a{
                color: #777;
                text-decoration: none;
                &:hover{
                    color: #fcb941;
                    border-bottom: 1px solid #fcb941;
                }
            }
            .vertical-line{
                margin-left: 10px;
                margin-right: 10px;
            }
        }

        h2{
           line-height: 1;
            a{
                text-decoration: none;
                color: #333;
                font-weight: 700;
                letter-spacing: -1px;
                font-size: 25px;
            }
        }

        .life-style{
            margin-bottom: 20px;
            color: #777;
            span{
               
                a{
                    text-decoration: none;
                    color: #777;

                }
            }
            
        }
    }
}