@import "../layout/header";
@import "../layout/footer";



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}

#nav{
    border-bottom: 1px solid hsla(0,0%,92.2%,.55);;
    ul{
        display: flex;
       padding-top: 10px;
       padding-left: 0;
        gap: 20px;
        li{
            list-style-type: none;
            color: #999490;
            a{
                text-decoration: none;
                color: #999490;
                &:hover{
                    color: #fcb941;
                }
            }
            i{
                padding-right: 10px;
                font-size: 12px;
              
            }
        }
    }
}


#about-header{

    .header{
        background-image: url("../../../img/about-header-bg.jpg");
        min-height: 450px;
        position: relative;

        h1{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            color: #fff;
            span{
                display: block;
                font-size: 15px;
                text-align: center;
            }
            
        }
    }
}

#content{

    h2{
        font-size: 25px;

        p{
            color: #778895;
            font: 300;
        }
    }

}